<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="BANK812" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="Version" value="CTBCFinCollection.exe.2022.07.28"/>
		<add key="BankSvc" value="Collection-代收"/>
		<add key="BankEnv" value="PRD"/>		
	</appSettings>
	<BANK812>
		<add key="BankID_812" value="812"/>
		<add key="BankName_812" value="CTBC"/>		
		<add key="BankPath_812" value="D:\Appdata\ctbcfin\collection\sftp\"/>
		<add key="JocsPath_812" value="D:\Appdata\ctbcfin\collection\sftp\work\"/>
		<add key="FtpPath_812" value="D:\Appdata\ctbcfin\collection\sftp\ftp\"/>
		<add key="InPath_812" value="D:\Appdata\ctbcfin\collection\sftp\ftp\inbound\"/>
		<add key="OutPath_812" value="D:\Appdata\ctbcfin\collection\sftp\ftp\outbound\"/>
		<add key="InBakPath_812" value="D:\Appdata\ctbcfin\collection\sftp\ftp\inbound\bak\"/>
		<add key="OutBakPath_812" value="D:\Appdata\ctbcfin\collection\sftp\ftp\outbound\bak\"/>
		<add key="Interval_812" value="30"/>
        
		<add key="SFtpClient_812" value="true" />
		
		<add key="BankEnv_812" value="_PRD"/>

		<!--SFTP Server端代收每日報表副檔名-->
		<add key="SFtpCollDRptPattern_812" value=".zip"/>
		<add key="I102_812" value="Apptest"/>
		
		<!-- TST -->		
		<add key="SFtpHost_812_TST" value="134.251.83.150"/>
		<add key="SFtpPort_812_TST" value="22"/>
		<add key="SFtpUser_812_TST" value="Apptest"/>
		<add key="SFtpPswd_812_TST" value="Temp@1234"/>
		<add key="SFtpCollDRptDir_812_TST" value="aptoap/FileAutoTransfer/80503378/Response/DailyRpt/"/>
		<add key="SFtpMonitor_812_TST" value="false"/>
		<add key="SFtpCollDRptZipPswd_812_TST" value="12345"/>
		<add key="SFtpCollDRptPattern_812_TST" value=".zip"/>
		<!-- UAT -->
		<add key="SFtpHost_812_UAT" value="175.184.247.85"/> 		
		<add key="SFtpPort_812_UAT" value="22"/>
		<add key="SFtpUser_812_UAT" value="CX_CTBCF_GET"/>
		<add key="SFtpPswd_812_UAT" value="ng7qm6bt"/>
		<add key="SFtpCollDRptDir_812_UAT" value="aptoap/FileAutoTransfer/80503378/Response/DailyRpt/"/>
		<add key="SFtpMonitor_812_UAT" value="false"/>
		<add key="SFtpCollDRptZipPswd_812_UAT" value="80503378"/>
		<add key="SFtpCollDRptPattern_812_UAT" value=".zip"/>
		<!-- PRD  -->
		<add key="SFtpHost_812_PRD" value="175.184.243.49"/>
		<add key="SFtpPort_812_PRD" value="22"/>
		<add key="SFtpUser_812_PRD" value="CX_CTBCF_GET"/>
		<add key="SFtpPswd_812_PRD" value="ng7qm6bt"/>
		<add key="SFtpCollDRptDir_812_PRD" value="aptoap/FileAutoTransfer/80503378/Response/DailyRpt/"/>
		<add key="SFtpMonitor_812_PRD" value="false"/>
		<add key="SFtpCollDRptZipPswd_812_PRD" value="80503378"/>
		<add key="SFtpCollDRptPattern_812_PRD" value=".zip"/>
	</BANK812>

	<connectionStrings>
    <add name="HPNmipEntities" connectionString="metadata=res://*/HPNmipDB.csdl|res://*/HPNmipDB.ssdl|res://*/HPNmipDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=HPNmip;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
