<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
	<add key="Version" value="2022/07/28"/>
	<add key="AppSvc" value="CTBCFinCollectionSvc"/>
    <add key="AppPath" value="D:\Appdata\ctbcfin\collection\"/>	
	<add key="LogDir" value="log\"/>
	<add key="ProDir" value="sftp\"/>
	<add key="JocsDir" value="sftp\work\"/>
	<add key="FtpDir" value="sftp\ftp\"/>
	<add key="BinDir" value="bin\"/> <!-- BinPath = AppPath + BinDir -->
	<add key="ExeName" value="CTBCFinCollection.exe"/> 
    <add key="Interval" value="60"/>
    <add key="Banks" value="812"/>
	<add key="CmdDir" value="sftp\work\cmd\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
